body {
    background-color: #ccc;
    display: inline-block;
}

#buttonone {
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.1) 0 10px 10px;

}


#buttontwo {
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.1) 0 10px 10px;
    margin-left: 250px;
    
}

#buttonthree {
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.1) 0 10px 10px;
    margin-left: 500px;
}