body {
    background-color: #ccc;
    display: flex;
}

.sticky {
    position: sticky;
    top: 0;
}

#buttonone {
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.1) 0 10px 10px;

}


#buttontwo {
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.1) 0 10px 10px;
    
}

#buttonthree {
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.1) 0 10px 10px;
}